* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

.chat-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.chat-header {
    text-align: center;
    margin-bottom: 20px;
}

.chat-messages {
    height: 400px;
    overflow-y: scroll;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

.chat-messages .bot-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 10px;
    background-color: lightseagreen;
    color: white;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.chat-messages .user-message {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 10px;
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 60%;
}

.chat-messages p {
    margin-bottom: 10px;
}

.chat-input {
    display: flex;
    justify-content: space-between;
}

.chat-input input {
    flex: 1;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.chat-input button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
}

.chat-input button:hover {
    background-color: #3e8e41;
}